<div class="box"> 
  <form class="item" (ngSubmit)="f.form.valid && onGuardarPersona()" #f="ngForm">
    <input
      type="text"
      name="nombre"
      id="nombre"
      placeholder="Nombre"
      [(ngModel)]="nombreInput"
      required="true"
      minlength="1s"
      pattern="[^ \t\n\f\r]"
    />
    <input
      type="text"
      name="apellido"
      id="apellido"
      placeholder="Apellido"
      [(ngModel)]="apellidoInput"
      required="true"
      minlength="1"
      pattern="[^ \n\f\r\t]"
    />
    <button type="submit" style="cursor: pointer">
      +
    </button>
</form>
</div>
