<div class="box"> 
  <form class="item" #f="ngForm">
    <button type="submit" *ngIf="indice != null " 
      style="cursor: pointer" class="buttonRed"
      (click)="eliminarPersona()">
      -
    </button>
    
    <input
    type="text"
    name="nombre"
    id="nombre"
    placeholder="Nombre"
    [(ngModel)]="nombreInput"
    required
    pattern="[^ \s]"
    />
    
    <input
    type="text"
    name="apellido"
    id="apellido"
    placeholder="Apellido"
    [(ngModel)]="apellidoInput"
    required
    pattern="[^ \s]"
    />
    
    <button type="submit" style="cursor: pointer"
    (click)="onGuardarPersona()" class="buttonpurple">
      +
    </button>
</form>
</div>
