<!-- <div class="container-lg" style="background:whitesmoke">
  <h1>My First Bootstrap Page</h1>
  <p>This part is inside a .container class.</p> 
  <p>The .container class provides a responsive fixed width container.</p>
</div>

<div class="container-lg">
  <div class="row">
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
  </div>
</div>

<hr>

<div class="container-lg">
  <div class="row">
    <div class="col-lg">
      1 of 2
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      2 of 3
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>

<hr>

<div class="container-lg">
  <div class="row">
    <div class="col-lg">col</div>
    <div class="col-lg">col</div>
    <div class="col-lg">col</div>
    <div class="col-lg">col</div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg">col-8</div>
    <div class="col-lg">col-4</div>
  </div>
</div>

<hr>

<div class="container-lg">
  <div class="row">
    <div class="col-sm-6">col-sm-8</div>
    <div class="col-sm-6">col-sm-4</div>
  </div>
  <div class="row">
    <div class="col-sm">col-sm</div>
    <div class="col-sm">col-sm</div>
    <div class="col-sm">col-sm</div>
  </div>
</div>

<hr>

<div class="container-lg">
  <div class="row">
    <div class="col-md-8">.col-md-8</div>
    <div class="col-6 col-md-4">.col-6 .col-md-4</div>
  </div>

  <div class="row">
    <div class="col-6 col-md-4">.col-6 .col-md-4</div>
    <div class="col-6 col-md-4">.col-6 .col-md-4</div>
    <div class="col-6 col-md-4">.col-6 .col-md-4</div>
  </div>

  <div class="row">
    <div class="col-6">.col-6</div>
    <div class="col-md">.col-6</div>
  </div>
</div> -->


<!-- <app-calculator></app-calculator> -->

<app-people-list
[love] = "love"
[poison] = "poison"
></app-people-list>

<app-sizer [size]="fontSizePx" (sizeChange)="fontSizePx"></app-sizer>