<div class="containerCont">
    <div class="subContainer sub1">
        <div class="sub1Item logo" id="logo" >{{ logo }}</div>

        <div class="sub1Item callOperator">
            Calling via <p class="callOperatorText" id="callOperatorText">{{ callOperator }}</p>
        </div>

        <div class="sub1Item Identifier">{{ identifier }}</div>

        <div class="sub1Item number">{{ phoneReference }} {{ phoneNumber}}</div>

        <div class="subItem timer">{{ timer }}</div>
    </div>

    <div class="subContainer sub2"></div>

    <div class="subContainer sub3"></div>
</div>