<div class="container-lg">
    <h3>{{ title }}</h3>

    <form (submit)="addPerson($event)" class="row">
        <div class="col-lg">
            <label for="fisrtName">Name</label>

            <input [(ngModel)]="nameInput" type="text" class="form-control" id="fisrtName" 
            name="fisrtName" placeholder="Enter the fisrt name" required>
        </div>

        <div class="col-lg">
            <label for="lastName">Last name</label>
            
            <input [(ngModel)]="lastNameInput" type="text" class="form-control" id="lastName" 
            name="lastName" placeholder="Enter the last name" required>
        </div>

        <div class="col-12">
            <button class="btn btn-primary form-control">Add</button>
            <button (click)="checkPoisonOrLove()" class="btn btn-primary form-control">Check</button>
        </div>

        <div *ngFor="let person of people; let i = index" class="col-6">
            {{ i + 1 }}: {{ person.name }} {{ person.lastName }}
        </div>

        
    </form>
</div>
